.home {
    background: url(../../public/assets/home/background-home-mobile.jpg) no-repeat center center fixed;
    height: 100vh;
}

@media screen and (min-width: 375px) {
  .home {
    background: url(../../public/assets/home/background-home-tablet.jpg) no-repeat center center fixed;
    height: 100vh;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    background: url(../../public/assets/home/background-home-desktop.jpg) no-repeat center center fixed;
    height: 100vh;
  }
}