/*  https://piccalil.li/blog/a-modern-css-reset/ */

/* ------------------ */
/* Custom Properties */
/* ------------------ */

:root {
  /* Colors  */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* Font-sizes  */
  --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Font Families */
  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', sans-serif;
}

@media screen and (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-550: 1.25rem;
    --fs-400: 1rem;
  }
}

@media screen and (min-width: 65em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-550: 1.75rem;
    --fs-500: 1.25rem;
    --fs-400: 1.125rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background: hsl(var(--clr-dark));
  background-repeat: no-repeat;
  line-height: 1.5;

  overflow-x: hidden;
  background-size: cover;
  transition: background-image 1s ease-in;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations form people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------- */
/* Utility Classes */
/* -------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-grow {
  flex-grow: 1;
}

/* .flex.even-columns > * {
  flex-basis: 100%;
  outline: 1px solid limegreen;
} */

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

/*  This is same as * + * no specificity */
.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5rem 1rem;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 0.2s ease-out;
}

.skip-to-content:focus {
  transform: translateY(0);
}

.box {
  background: lightblue;
  padding: 3rem;
}

.cta {
  --gap: 5rem;
  /* Can modify variables */
  background: pink;
  padding: 2rem;
  border-radius: 1rem;
}

/* Colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-opacity-50 {
  opacity: 0.5;
}

.example-component {
  background-color: hsl(var(--clr-light) / 0.2);
}

/* Typography */

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-550 {
  font-size: var(--fs-550);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-550);
  text-transform: uppercase;
  letter-spacing: 4.75px;
}

.numbered-title>span {
  color: hsl(var(--clr-white) / 0.25);
  font-weight: 700;
  margin-right: 0.5em;
}


/* Primary Navigation */

.underline-indicators>* {
  cursor: pointer;
  padding: var(--underline-gap, 0.5rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
  background-color: transparent;
}

.underline-indicators>*:hover,
.underline-indicators>*:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators>.active,
.underline-indicators>[aria-selected='true'] {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

.tab-list {
  --gap: 2rem;
}

.dot-indicators>* {
  cursor: pointer;
  border: 0;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.5em;
  background-color: hsl(var(--clr-white) / 0.25);
}

.dot-indicators>*:hover,
.dot-indicators>*:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators>[aria-selected='true'] {
  background-color: hsl(var(--clr-white) / 1);
}

.number-indicators>* {
  all: unset;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid hsl(var(--clr-white) / 0.50);
  color: hsl(var(--clr-white) / 0.50);
  text-align: center;
}

.number-indicators>*:hover,
.number-indicators>*:focus {
  border-color: hsl(var(--clr-white) / 0.75);
  color: hsl(var(--clr-white) / 0.75);
}

.number-indicators>[aria-selected='true'] {
  background-color: hsl(var(--clr-white) / 1);
  color: hsl(var(--clr-dark));
}

/* -------------------------- */
/* My Header - Design System */
/* ------------------------ */

.design-header {
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.design-header>img {
  width: 3rem;
}

.color-type-mr-3 {
  margin-right: 3.875rem;
}


/* ------------------------- */
/* Page Layout               */
/* ------------------------- */

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 2rem;
  padding-bottom: 1rem;
}

.grid-container p:not([class]) {
  max-width: 50ch;
}

.numbered-title {
  justify-self: center;
  align-self: start;
  margin-block: 2rem;
  grid-area: title;
  /* Only works if there is grid area named "title" */
}

@media screen and (min-width: 35em) {
  .grid-container {
    margin-block-start: 2rem;
    padding-inline: 7rem;
  }
}

@media screen and (min-width: 65em) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
  }

  .numbered-title {
    justify-self: start;
  }
}

/* Animations */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}