.logo {
  display: flex;
  align-items: center;
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(var(--clr-dark) / 0.95);
}

@supports (backdrop-filter: blur(1.5rem)) {
  .primary-navigation {
    background: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a>span {
  font-weight: 700;
  margin-right: 0.5em;
}

@media screen and (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    --underline-gap: 0.5rem;
    list-style: none;
    padding-block: min(20rem, 15vh);
    padding-left: 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .primary-navigation[data-visibility='true'] {
    transform: translateX(0);
  }

  .primary-navigation.underline-indicators>.active {
    border: 0;
    border-right: 0.2rem solid hsl(var(--clr-white) / 0);
  }

  .underline-indicators>.active,
  .underline-indicators>[aria-selected='true'] {
    color: hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(../../../public/assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    cursor: pointer;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(../../../public/assets/shared/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media screen and (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 5vw, 5rem);
  }
}

@media screen and (min-width: 35em) and (max-width: 44.999em) {
  .primary-navigation a>span {
    display: none;
  }
}

@media screen and (min-width: 45em) {
  .primary-header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    inset: 0;
    background: hsl(var(--clr-white) / 0.25);
    order: 1;
    margin-right: -2.5rem;
  }

  nav {
    order: 2;
  }

  .primary-navigation {
    margin-block: 2rem;
  }
}